/* Eggshell */

$pico: 11;
$micro: 12;
$small: 14;
$smaller: 16;
$normal: 18;
$larger: 24;
$large: 32;
$huge: 48;
$gigantic: 56;

$radius: 3px;

@import 'eggshell';

/* Font Face */

@import 'partials/_fonts.scss';

/* Animation */

@import 'partials/_animation.scss';

/* Variables */

$avatar: 24px;
$thin: 700px;
$width: 1040px;
$login: 400px;

$body: 'Roboto', Arial, 'Helvetica Neue', Helvetica, sans-serif;
$headline: 'Dosis', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$code: 'Lucida Console', 'Lucida Sans Typewriter', monaco, 'Bitstream Vera Sans Mono', monospace;

/* Grayscale fix (see https://github.com/sass/libsass/issues/151#issuecomment-33536506) */

@function grayscale($value) {
  @return #{ "grayscale(" + $value + ")" };
}

/* GENERAL */

body {
  background: shade($light, 5%);
  font-family: $body;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headline;
  font-weight: 800;
  text-transform: uppercase;
}

a,
button {
  @include transition-property(color);
  @include transition-duration(0.2s);
}

.wrapper {
  margin: 0 auto;
  max-width: 90%;
  position: relative;
  width: $width;
}

/* Forms */

.field {
  margin-bottom: $gutter;
  position: relative;
  &.collection {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        background: tint($blue, 20%);
        border-radius: $radius;
        color: #FFF;
        display: inline-block;
        margin: 0 $gutter/4 $gutter/4 0;
        padding: 0 $gutter/2;
        .remove {
          color: shade($blue, 20%);
          margin-left: $gutter/4;
          @include tooltip;
          &:before {
            @include icon;
            content: 'x';
          }
          &:hover {
            color: #FFF;
          }
        }
      }
    }
   .widget {
      * {
        vertical-align: top;
      }
      .button {
        line-height: 1;
        margin-left: $gutter/4;
      }
    }
  }
}

label {
  color: $black;
  font-family: $headline;
  font-size: inherit;
  font-weight: bold;
  text-transform: none;
}

input[type=number],
input[type=text],
select,
textarea {
  @include box-sizing(border-box);
  width: 60%;
}

input[type=radio],
input[type=checkbox] {
  margin-right: $gutter/4;
}

/* Buttons */

.button,
a.button,
button.button {
  border: 0;
  @include box-shadow(0 3px 0 shade($blue, 10%));
  font-family: $headline;
  font-weight: bold;
  font-size: inherit;
  padding: 1.5*$gutter/4 $gutter;
  &:active {
    @include box-shadow(none);
    position: relative;
    top: 3px;
  }
  &.add {
    @include box-shadow(0 3px 0 shade($green, 10%));
  }
  &.delete {
    @include box-shadow(0 3px 0 shade($red, 10%));
  }
  &[disabled=disabled],
  &[disabled=true],
  &[disabled] {
    @include box-shadow(0 3px 0 shade($light, 10%));
  }
  &.add,
  &.delete,
  &[disabled=disabled],
  &[disabled=true],
  &[disabled] {
    border: 0;
    font-family: $headline;
    font-weight: bold;
    font-size: inherit;
    padding: 1.5*$gutter/4 $gutter;
  }
}

/* Cards */

.card {
  background: #FFF;
  border-radius: $radius;
  @include box-shadow(0 2px 0 rgba(0, 0, 0, 0.08));
  margin-bottom: $gutter;
}

/* HEADER */

#header {
  background: $purple;
  color: #FFF;
  padding: $gutter 0;
  .wrapper {
    text-align: left;
  }
  .logo {
    font-family: $headline;
    font-weight: 800;
    line-height: 1;
    text-transform: uppercase;
    &:before {
      @include icon;
      content: '0';
      float: left;
      @include font-size($larger);
      margin-right: $gutter/4;
    }
  }
  .menu {
    @include font-size($smaller);
    img {
      border-radius: $radius;
      float: left;
      height: $avatar;
      margin-right: $gutter/2;
    }
    .logout {
      color: shade($purple, 20%);
      margin-left: $gutter/4;
      @include tooltip(bottom);
      &:before {
        @include icon;
        content: 'q';
      }
      &:hover {
        color: #FFF;
      }
    }
  }
  a {
    color: inherit;
  }
}

/* MAIN */

#main {
  padding: 2*$gutter 0;
  text-align: left;
  h1 {
    text-align: center;
  }
  &.landing {
    padding: 0;
    .section {
      @include clearfix;
      padding: 4*$gutter 0;
      h2 {
        margin-bottom: 4*$gutter;
        text-align: center;
      }
    }
    #hero {
      background: $purple;
      color: #FFF;
      text-align: center;
      h1 {
        color: inherit;
      }
      h2 {
        color: tint($purple, 80%);
        @include font-size($larger);
        font-weight: normal;
      }
      .button {
        @include box-sizing(border-box);
        @include font-size($large);
        padding: $gutter 2*$gutter;
      }
    }
    .pitch,
    .graphic {
      @include box-sizing(border-box);
      float: left;
      width: 50%;
    }
    #pain {
      .graphic {
        list-style: none;
        margin: 0 0 (-$gutter);
        padding: 0 $gutter;
        width: 50%;
        li {
          @include box-sizing(border-box);
          display: block;
          float: left;
          padding: 0 $gutter $gutter;
          width: 33%;
          img {
            max-width: 100%;
            @include filter(grayscale(100%));
            opacity: 0.8;
          }
          &.active,
          &:hover {
            img {
              @include filter(grayscale(0%));
              opacity: 1;
            }
          }
        }
      }
      .pitch {
        padding-left: $gutter;
      }
    }
    #fix {
      border: 3px dashed shade($light, 15%);
      border-width: 3px 0;
      .pitch {
        padding-right: $gutter;
      }
      .graphic {
        ul {
          @include box-sizing(border-box);
          display: inline-block;
          list-style: none;
          margin: 0;
          padding: $gutter;
          vertical-align: middle;
          width: 39%;
          li {
            display: none;
            opacity: 0;
            padding: 0;
            @include transition-property(opacity);
            @include transition-duration(0.3s);
            &.active {
              display: block;
              opacity: 1;
            }
            img {
              max-width: 100%;
            }
          }
        }
        strong {
          @include box-sizing(border-box);
          color: $grey;
          display: inline-block;
          @include font-size($huge);
          font-weight: normal;
          padding: $gutter;
          text-align: center;
          vertical-align: middle;
          width: 20%;
        }
      }
    }
    #pricing {
      text-align: center;
      .plan {
        display: inline-block;
        max-width: 240px;
        width: 50%;
      }
      .card {
        overflow: hidden;
        padding: $gutter;
        position: relative;
      }
      ul {
        list-style: none;
        margin: 0 0 $gutter/2;
        text-align: left;
      }
      .free {
        margin-right: $gutter;
      }
      .pro {
        margin-left: $gutter;
        .card:before {
          background: $yellow;
          @include box-sizing(border-box);
          color: shade($yellow, 40%);
          content: 'Soon';
          display: block;
          font-family: $headline;
          font-weight: 800;
          text-transform: uppercase;
          @include font-size($small);
          padding: (1.5*$gutter + $gutter/4) 0 $gutter/4;
          position: absolute;
          right: -2*$gutter;
          top: -$gutter;
          text-align: center;
          text-transform: uppercase;
          @include transform(rotate(45deg));
          width: 5*$gutter;
          z-index: 999;
        }
      }
      .button {
        @include box-sizing(border-box);
        width: 100%;
      }
    }
  }
}

/* Footer */

#footer {
  background: #FFF;
  @include clearfix;
  @include font-size($smaller);
  padding: 2*$gutter 0;
  text-align: left;
  h3 {
    font-size: inherit;
    margin-bottom: $gutter/2;
  }
  a {
    color: inherit;
    display: block;
    &:hover {
      color: shade($blue, 10%);
    }
  }
  form * {
    vertical-align: top;
  }
  .field {
    display: inline-block;
  }
  input:not([type=submit]) {
    padding: 1.5*$gutter/4 $gutter;
  }
  .product,
  .about,
  .company,
  .subscribe {
    @include box-sizing(border-box);
    float: left;
    width: 20%;
  }
  .subscribe {
    width: 40%;
  }
  .legal {
    clear: both;
    color: $grey;
    display: block;
    padding-top: 2*$gutter;
    text-align: center;
    a {
      display: inline;
      margin-left: $gutter/2;
    }
  }
}

/* Responsive */

@import 'partials/_responsive.scss';